// brand-section-2 css

.brand-section-2 {
  &__info {
    text-align: center;
    margin-bottom: 63px;

    .decs {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: var(--primary);
      font-family: var(--font_body);
    }
  }

  &__thumb {
    width: 215px;
    height: 140px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include dark {
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 20px;
  }
  }

  &__box {
    .h1-brand__slider {
      .swiper-wrapper {
        display: flex;
        column-gap: 10px;
        align-items: center;
        justify-content: space-between;
        transition-timing-function: linear;

        .swiper-slide {
          width: auto;
        }
      }
    }
  }
}


// banner-3-img css

.banner-3-img {
  overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
}

// brand-section-4 css

.brand-section-4 {
  padding-top: 70px;

  &__info {
    text-align: center;
    margin-bottom: 48px;

    .decs {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.05em;
      color: #FFFFFF;
      font-family: var(--font_body);
    }
  }

  &__box {
    padding: 55px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;

    .h4-brand__slider {
      .swiper-wrapper {
        display: flex;
        column-gap: 120px;
        align-items: center;
        justify-content: space-between;
        transition-timing-function: linear;

        @media #{$xl} {
          column-gap: 50px;
        }

        .swiper-slide {
          width: auto;
        }
      }
    }
  }
}

// video-section-4 css

.video-section-4 {
  &__wrapper {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    .experience-4-video{
      @media #{$lg} {
        height: 600px;
      }
      @media #{$sm} {
        height: 500px;
      }
      @media #{$xs} {
        height: 400px;
      }
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    .decs {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.05em;
      color: #FFFFFF;
      font-family: var(--font_BDOGrotesk);
      @media #{$xs} {
        & br{
          display: none;
        }
      }
    }
  }
}

// banner-5-img css

.banner-5-img{
  overflow: hidden;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}