.contact-page {

    .direct-contact {
        margin-top: 74px;

        @media #{$md} {
            margin-top: 40px;
        }

        @media #{$sm} {
            margin-bottom: 40px;
            margin-top: 0;
        }

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #999999;
            display: block;
            margin-bottom: 15px;

            @media #{$md} {
                margin-bottom: 10px;
            }
        }

        a {
            font-weight: 400;
            font-size: 30px;
            line-height: 28px;
            letter-spacing: -0.02em;
            color: var(--primary);
            font-family: var(--font_BDOGrotesk);
            position: relative;
            
            &::before {
                left: 0;
                bottom: 0;
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                border-radius: 15px;
                transition: all 0.3s;
                background: var(--primary);
            }

            &:hover {
                &::before {
                    width: 0;
                }
            }

            @media #{$md} {
                font-size: 25px;
            }

            &:hover {
                color: var(--primary);
            }
        }
    }

    .socail-media {

        @media #{$sm} {
            margin-bottom: 30px;
        }

        &__item {
            gap: 20px;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 23px;
            }

            .icon {
                width: 70px;
                height: 70px;
                display: flex;
                font-size: 22px;
                align-items: center;
                border-radius: 20px;
                transition: all 0.3s;
                color: var(--primary);
                justify-content: center;
                border: 1px solid rgba(17, 17, 17, 0.15);

                @include dark {
                    border-color: rgba(255, 255, 255, 0.15);
                }

                &:hover {
                    border-color: transparent;
                    background: rgba(17, 17, 17, 0.15);

                    @include dark {
                        background: rgba(255, 255, 255, 0.15);
                    }
                }
            }

            .text {
                a {
                    display: block;
                    margin-bottom: 2px;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                    color: var(--primary);
                    font-family: var(--font_BDOGrotesk);

                    &:hover {
                        color: #FF6A3A;
                    }
                }

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    color: #999999;                    
                }
            }
        }
    }

    .contact-formwrap {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .contact-formfield {
            grid-column: span 2;

            &:nth-child(2),
            &:nth-child(3) {
                grid-column: span 1;

                @media #{$md} {
                    grid-column: span 2;
                }
            }
        }
    }

    .contact-formfield {
        border-radius: 15px;
        transition: all 0.3s;
        padding: 22px 30px 24px;
        border: 1px solid rgba(17, 17, 17, 0.1);

        @include dark {
            border-color: rgba(255, 255, 255, 0.15);
        }

        &:hover {
            background: rgba(17, 17, 17, 0.1);
            @include dark {
                background: rgba(255, 255, 255, 0.1);
            }
        }

        label {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: var(--primary);
            margin-bottom: 5px;
            font-family: var(--font_body);
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            transition: all 0.5s;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #999999;

            &::placeholder {
                color: #999999;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:focus {
                transition: background-color 0s 600000s, color 0s 600000s !important;
            }
        }

        textarea {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            transition: all 0.5s;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #999999;
            resize: vertical;
            min-height: 150px;

            &::placeholder {
                color: #999999;
            }
        }

        &.message {
            height: auto;
            min-height: 200px;
        }
    }

    .submit-btn {
        margin-top: 20px;
        .rr-btn{
            padding: 25px 41.5px;
            @include dark {
                background: #ffffff;
            }
            .text-one{
                @include dark {
                    color: var(--dark);
                }
            }
        }
    }
}

.contact-us {

    &__wrapper {
        gap: 15px;
        display: grid;
        grid-template-columns:1fr 355px ;

        @media #{$lg} {
            grid-template-columns:  1fr 300px;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }
    }

    &__offices {
        border-radius: 15px;
        padding: 60px 50px;
        position: relative;
        background: #FF6A3A;

        @media #{$lg} {
            padding: 30px 30px;
        }
        .title {
            z-index: 1;
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.02em;
            color: var(--white);

            @media #{$sm} {
                font-size: 25px;
            }
        }

        a {
            z-index: 1;
            margin-top: 121px;
            position: relative;
            color: var(--white);
            display: inline-block;

            @media #{$lg} {
                margin-top: 100px;
            }

            @media #{$sm} {
                margin-top: 50px;
            }

            &::before {
                left: 0;
                bottom: 0;
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                border-radius: 15px;
                transition: all 0.3s;
                background: var(--white);
            }

            &:hover {
                &::before {
                    width: 0;
                }
            }
        }
    }

    &__info {
        gap: 20px;
        display: flex;
        padding: 56px 70px;
        border-radius: 15px;
        background: #F1F1F1;
        justify-content: space-between;

        @include dark {
            background: #1A1A1A;
        }

        @media #{$lg} {
            padding: 30px 30px;
        }

        @media #{$sm} {
            flex-wrap: wrap;
        }
    }

    &__item {

        .title {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.02em;
            position: relative;
            margin-bottom: 19px;
            color: var(--primary);
            display: inline-block;
            border-bottom: 1px solid var(--primary);

            @media #{$sm} {
                margin-bottom: 10px;
            }

        }

        .location {
            margin-bottom: 29px;

            @media #{$md} {
                margin-bottom: 25px;
            }

            @media #{$sm} {
                margin-bottom: 10px;
            }
        }

        .phone {
            display: inline-block;
            position: relative;
            margin-bottom: 8px;

            &::before {
                left: 0;
                bottom: 0;
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                border-radius: 15px;
                transition: all 0.3s;
                background: #555;
                @include dark {
                    background: rgba(255, 255, 255, 0.5);
                }
            }

            &:hover {
                &::before {
                    width: 0;
                }
            }
        }

        a {
            color: var(--secondary);
            display: block;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            transition: all 0.3s;
            @include dark {
                color: rgba(255, 255, 255, 0.5);
            }

            @media #{$md} {
                font-size: 16px;
                line-height: 20px;
            }

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.contact-pages{
    .breadcrumb-2__wrapper{
        padding-bottom: 95px;
        @media #{$lg} {
           padding-bottom: 70px;
        }
    }
}