@import "about-us";
@import "hero";
@import "architecture";
@import "team";
@import "project";
@import "blog";
@import "services";
@import "brand";
@import "testimonial";
@import "section-title";
@import "breadcrumb";
@import "404";
@import "faq";
@import "contact";
@import "awards";