/* === theme scss (index 01) === */
html {
  --container-max-widths: 1320px;

  @media #{$xl} {
    --container-max-widths: 1140px;
  }

  @media #{$lg} {
    --container-max-widths: 960px;
  }

  @media #{$md} {
    --container-max-widths: 720px;
  }

  @media #{$sm} {
    --container-max-widths: 540px;
  }
}

body {
  background-color: #FFFFFF;
  color: var(--secondary);
}

.body-wrapper {
  background-color: var(--white);

  &.dark {
    background-color: var(--black);
  }
}


.img_anim_reveal {
  visibility: hidden;
  overflow: hidden;

  img {
    object-fit: cover;
    transform-origin: left;
  }
}

.anim-reveal {
  overflow: hidden;
}

.anim-reveal-line {
  overflow: hidden;
}

.color {
  &-white {
    color: var(--white);
  }

  &-black {
    color: var(--black);
  }

  &-primary {
    color: var(--primary);
  }

  &-secondary {
    color: var(--secondary);
  }
}


/* === BG Color scss (index 02) === */
.theme-bg {

  &-white {
    background-color: var(--white);
  }

  &-black {
    background-color: var(--black);

    @include dark {
      background-color: #171717;
    }
  }

  &-primary {
    background-color: var(--primary);
  }

  &-secondary {
    background-color: var(--secondary);
  }

  &-transparent {
    background-color: transparent;
  }

  &-theme {
    background-color: var(--theme);
  }
}

.dark-bg {
  background: #111111;
}

/* === Z-index scss (index 03) === */
.zi {
  &-1 {
    z-index: 1;
  }

  &-2 {
    z-index: 2;
  }

  &-0 {
    z-index: 0;
  }

  &--1 {
    z-index: -1;
  }
}

/* === Text Border scss (index 04) === */
.text-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-skip-ink: none;
}

.vertically-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* === Text Indent scss (index 05) === */
.text-indent {
  &-40 {
    text-indent: 40px;
  }

  &-50 {
    text-indent: 50px;
  }
}

header {
  margin-bottom: -1px;
  z-index: 100;
}

section {
  margin-bottom: -1px;
}

.mb--1 {
  margin-bottom: -1px;
}

.dir-rtl {
  direction: rtl;
}

.show-light {
  display: inline-block;

  @include dark {
    display: none;
  }
}

.show-dark {
  display: none;

  @include dark {
    display: inline-block;
  }
}

.line-divider-sm {
  height: 0.5px;
  background-color: var(--black-9);
}

.section-space {
  padding-top: 140px;
  padding-bottom: 140px;

  @media #{$lg} {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @media #{$md} {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media #{$sm,$xs} {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.section-space-top {
  padding-top: 140px;

  @media #{$lg} {
    padding-top: 110px;
  }

  @media #{$md} {
    padding-top: 70px;
  }

  @media #{$sm,$xs} {
    padding-top: 60px;
  }
}

.section-space-bottom {
  padding-bottom: 140px;

  @media #{$md} {
    padding-bottom: 70px;
  }

  @media #{$sm,$xs} {
    padding-bottom: 60px;
  }
}

.section-space-top-2 {
  padding-top: 120px;

  @media #{$md} {
    padding-top: 70px;
  }

  @media #{$sm,$xs} {
    padding-top: 60px;
  }
}




.mb-20 {
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-60 {
  margin-bottom: 60px;

  @media #{$md} {
    margin-bottom: 30px;
  }
}

.br-20 {
  border-radius: 20px;
}

.rr-bg-color {
  background: #000000;
}

.row {
  --bs-gutter-x: 20px; // horizontal gap কমাও
  --bs-gutter-y: 20px; // vertical gap কমাও
}