/* === Font Family scss (index 01) === */

@import url('https://fonts.googleapis.com/css2?family=Bayon&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* === Tartuffo Trial scss (index 02) === */
@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-DemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-Black.ttf');
  font-weight: 900;
}

:root {
  --font_body: "DM Sans", sans-serif;
  --font_BDOGrotesk: "BDOGrotesk";
  --font_Bayon: "Bayon", sans-serif;
  --font_awesome: 'Font Awesome 6 Pro';
}

/* === Defalut Style scss (index 03) === */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font_body);
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.48px;
  color: #999999;

  &.dark {
    background-color: var(--black);
    color: var(--white);
  }

}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: var(--primary);
  line-height: 1.22;
  font-family: var(--font_BDOGrotesk);
  font-weight: 500;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: inherit;

  &:hover {
    color: var(--action);
  }
}

button {
  background-color: transparent;
  border: 0;
}

p {
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 500;
}

video,
iframe,
img {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

/* === Gutter scss (index 03) === */
@media #{$sm} {
  .g-0 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row.g-0 {
    padding-right: 0;
    padding-left: 0;
  }

  br {
    display: none;
  }
}

main {
  // display: inline-block;
  width: 100%;
  // overflow: hidden;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}