
/* faq area style  */
.faq-area {

    &.faq-area-space {
        padding-top: 50px;
    }

    .faq-area-inner {
        
        .accordion-wrapper{
            max-width: 1419px;
            margin: 0 auto;
        }
    }

    .section-title-wrapper {
        display: block;

        .title-wrapper {
            margin-bottom: 95px;
            .section-title {
                font-weight: 400;
                font-size: 90px;
                line-height: 85px;
                letter-spacing: -0.05em;
                color: var(--primary);                
                @media #{$xl} {
                    font-size: 80px;
                    line-height: 80px;
                }

                @media #{$lg} {
                    font-size: 60px;
                    line-height: 70px;
                    letter-spacing: 0;
                }

                @media #{$md} {
                    font-size: 50px;
                    line-height: 60px;

                    br {
                        display: none;
                    }
                }

                @media #{$sm} {
                    font-size: 30px;
                    line-height: 34px;
                }


                span {
                    font-family: var(--font_ppeditor);
                }
            }
        }
    }

    .accordion {
        counter-reset: accordion;
        border-top: 1px solid #E7E7E7;

        @include dark {
            border-color: #292929;
        }
    }

    .accordion-button {
        padding: 33.5px 0;
        background-color: transparent;
        outline: 0;
        box-shadow: none;
        border-radius: 0;

        @media #{$xxl} {
            padding: 20px 0 23px;
            font-size: 24px;
        }

        @media #{$sm} {
            font-size: 20px;
        }

        &::after {
            content: "\2b";
            font-family: var(--font_awesome);
            background-image: none;
            color: var(--primary);
            font-size: 20px;
            font-weight: 500;
            transition: all 0.5s;

            @media #{$xs} {
                margin-top: -31px;
            }

        }

        &:not(.collapsed) {

            &::after {
                content: "\f068";
            }
        }
    }

    .accordion-item {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #E5E0DC;
        position: relative;
        transition: all 0.5s;
        border-radius: 0;

        @include dark {
            border-color: #292929;
        }

        .title {
            gap: 97px;
            display: flex;
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: -0.07em;
            align-items: center;
            color: var(--primary);
            font-family: var(--font_BDOGrotesk);
            @media #{$md} {
                gap: 60px;
            }
            @media #{$sm} {
                gap: 30px;
                font-size: 26px;
                line-height: 30px;
            }
            @media #{$xs} {
                align-items: self-start;
                letter-spacing: 0px;
                gap: 30px;
                line-height: 26px;
                font-size: 16px;
            }

        }
    }


    .accordion-body {
        padding: 15px 18px 35px 50px;
        border: none;
        padding-left: 125px;
        @include dark {
            border-color: #292929;
        }
        @media #{$md} {
            padding-left: 93px;
        }

        @media #{$sm} {
            padding-left: 30px;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: rgba(17, 17, 17, 0.5);
            letter-spacing: 0px;
            @include dark {
                color: rgba(255, 255, 255, 0.5);
            }

            @media #{$xs} {
                font-size: 16px;
            }
        }
    }
}